@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
#menu-toggler {
  display: none;
}
#menu-toggler:checked + nav .hidemenu {
  height: auto;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

h2 {
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 0;
  padding: 60px 0 15px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* -- Navigation Menu -- */
#mobileMenuLink {
  display: none;
}

nav {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

.main-nav {
  color: #f90;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
.main-nav li {
  padding-right: 18px;
}
.main-nav li:last-child {
  padding-right: 0;
}
.main-nav li a {
  text-decoration: none;
  color: #f90;
  transition: color 0.3s;
}
.main-nav li a:hover {
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

/* -- Home Jumbotron -- */
.jumbotorn {
  background: url("/arshportfolio/assets/4689415.png") no-repeat center center fixed;
  background-size: cover;
}

main {
  padding: 15vw 0px;
  text-align: center;
  backdrop-filter: blur(5px);
}
main h1 {
  font-size: 70px;
  font-weight: 800;
  margin-top: 0;
  text-transform: uppercase;
  color: white;
}
main p {
  font-size: 30px;
  color: white;
}
main .btn {
  background-color: #f90;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  transition: background 0.3s;
  padding: 15px 40px;
}
main .btn:hover {
  background: #fff;
  transition: background 0.3s;
}

/* -- About Section -- */
.about {
  background-color: #fff;
  color: #333;
}
.about .container {
  padding: 60px 0;
  display: flex;
}
.about .container img {
  border-radius: 50%;
  margin: 60px 40px;
}
.about .container .about-text {
  margin: 0;
  overflow: hidden;
  padding: 0 10px;
}

/* -- Portfolio Section -- */
.portfolio {
  background: url("/arshportfolio/assets/4689415.png") no-repeat center center;
  background-size: cover;
  padding-bottom: 30px;
  padding-inline: 1rem;
}
.portfolio .container {
  padding-top: 30px;
  text-align: center;
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.portfolio-img {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #f90;
  
  max-height: 200px;
}
.portfolio-img img {
  width: 100%;
  object-fit: cover;
  padding-bottom: 0.5rem;
}

.portfolio h2, .portfolio p {
  color: #fff;
}
.portfolio h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 0 5px 0;
}
.portfolio .project-box {
  background-color: #fff;
  border: 1px solid #f90;
  border-radius: 12px;
  color: #000;
  margin: 20px 0;
  padding: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  vertical-align: top;
  flex: 0 0 23%;
}
.portfolio .project-box p {
  color: #000;
  font-size: 14px;
}
.portfolio .project-box:hover {
  transform: translateY(-10px) ;
}

/* -- Contact Info -- */
.contact {
  background-color: #fff;
  padding-bottom: 20px;
}
.contact .container {
  text-align: center;
}
.contact h2 {
  margin-top: 0;
}
.contact a {
  background-color: #fff;
  color: rgb(0, 145, 255);
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  vertical-align: top;
  width: 50px;
}
.contact a:last-child{
    color: rgb(103, 208, 38);
}
.contact a:hover {
  transform: scale(1.1);
  color: #f90;
}

/* -- Footer -- */
footer {
  background-color: #000;
  width: 100%;
}
footer ul {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
footer li {
  color: #fff;
  padding-right: 5px;
  text-transform: uppercase;
  list-style-type: none;
}
footer p {
  color: #999;
  margin: 0;
  padding: 10px 20px;
}
footer a {
  color: #f90;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s;
}
footer a:hover {
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

@media screen and (max-width: 800px) {
  ul.main-nav {
    justify-content: center;
  }

  main h1 {
    font-size: 50px;
  }

  .about .container {
    flex-direction: column;
    align-items: center;
  }
  .about .container .about-text h2 {
    text-align: center;
  }

  .portfolio .project-box {
    flex: 0 0 48% ;
  }
}
@media screen and (max-width: 576px) {
    main h1 {
        font-size: 36px;
        word-wrap: break-word;
      }
      main p{
        font-size: 1.25rem;
      }
  nav {
    position: relative;
  }
  nav .hidemenu {
    overflow: hidden;
    height: 0px;
  }
  nav .main-nav {
    flex-direction: column;
    align-items: center;
  }
  nav .main-nav li {
    padding-bottom: 20px;
    padding-right: 0px;
  }
  nav .main-nav li:last-child {
    padding-bottom: 0;
  }

  #mobileMenuLink {
    display: block;
  }
  #mobileMenuLink label {
    cursor: pointer;
  }

  .jumbotorn {
    height: auto;
  }

  .about .container {
    padding: 40px 0;
  }
  .about .container img {
    margin: 0;
  }

  .portfolio .project-box {
    flex: 1 0 100%;
  }

  footer ul {
    flex-direction: column;
    align-items: center;
  }
  footer ul li {
    margin-bottom: 12px;
  }
  footer ul li:last-child {
    margin-bottom: 0px;
  }
  footer ul li:nth-child(even) {
    display: none;
  }
}